<div class="title">
  <%= I18n.t LEAGUE_MESSAGES_KEY + @league.shortcut %>
</div>

<div class="league">
  <% if @games_count[:current] > 0 %>
    <div class="table-wrapper standard">
      <table>
        <thead>
          <tr>
            <td colspan="5"><%= I18n.t("messages.leagues.show.current_games") %></td>
          </tr>
          <tr>
            <td><%= I18n.t("messages.leagues.show.table_game_1") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_2") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_3") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_4") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_5") %></td>
          </tr>
        </thead>
        <tbody>
          <% for a in 0..@games_count[:current]-1 %>
            <tr>
              <td><%= I18n.l @games[:current][a].start.localtime %></td>
              <td><%= @games[:current][a].round %></td>
              <td><%= link_to @games[:current][a].team_home.name, @games[:current][a].team_home %></td>
              <td><%= link_to @games[:current][a].team_away.name, @games[:current][a].team_away %></td>
              <td><%= @games[:current][a].score_home + ":" + @games[:current][a].score_away %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
    
  <% if @games_count[:next] > 0 %>
    <div class="table-wrapper standard">
      <table>
        <thead>
          <tr>
            <td colspan="4"><%= I18n.t("messages.leagues.show.next_games") %></td>
          </tr>
          <tr>
            <td><%= I18n.t("messages.leagues.show.table_game_1") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_2") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_3") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_4") %></td>
          </tr>
        </thead>
        <tbody>
          <% for a in 0..@games_count[:next]-1 %>
            <tr>
              <td><%= I18n.l @games[:next][a].start.localtime %></td>
              <td><%= @games[:next][a].round %></td>
              <td><%= link_to @games[:next][a].team_home.name, @games[:next][a].team_home %></td>
              <td><%= link_to @games[:next][a].team_away.name, @games[:next][a].team_away %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  
  <% if @games_count[:previous] > 0 %>
    <div class="table-wrapper standard">
      <table>
        <thead>
          <tr>
            <td colspan="5"><%= I18n.t("messages.leagues.show.previous_games") %></td>
          </tr>
          <tr>
            <td><%= I18n.t("messages.leagues.show.table_game_1") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_2") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_3") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_4") %></td>
            <td><%= I18n.t("messages.leagues.show.table_game_5") %></td>
          </tr>
        </thead>
        <tbody>
          <% for a in 0..@games_count[:previous]-1 %>
            <tr>
              <td><%= I18n.l @games[:previous][a].start.localtime %></td>
              <td><%= @games[:previous][a].round %></td>
              <td><%= link_to @games[:previous][a].team_home.name, @games[:previous][a].team_home %></td>
              <td><%= link_to @games[:previous][a].team_away.name, @games[:previous][a].team_away %></td>
              <td><%= @games[:previous][a].score_home + ":" + @games[:previous][a].score_away %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
    
  <div class="table-wrapper standard">
    <table>
      <thead>
        <tr>
          <td><%= I18n.t("messages.leagues.show.table_1") %></td>
          <td><%= I18n.t("messages.leagues.show.table_2") %></td>
          <td><%= I18n.t("messages.leagues.show.table_3") %></td>
          <td><%= I18n.t("messages.leagues.show.table_5") %></td>
          <td><%= I18n.t("messages.leagues.show.table_7") %></td>
          <td><%= I18n.t("messages.leagues.show.table_8") %></td>
          <td><%= I18n.t("messages.leagues.show.table_9") %></td>
        </tr>
      </thead>
      <tbody>
        <% for league_team in @league_teams do %>
          <tr class="<%= league_team[:style] %>">
            <td><%= link_to league_team[:data].team.name, league_team[:data].team %></td>
            <td><%= league_team[:data].gp %></td>
            <td><%= league_team[:data].w %></td>
            <td><%= league_team[:data].t %></td>
            <td><%= league_team[:data].l %></td>
            <td><%= league_team[:data].gf %>:<%= league_team[:data].ga %></td>
            <td><%= league_team[:data].pts %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>