<div class="tactics">
  <div id="hidden-data-players" class="hidden">
    <% for p in @player_list %>
      <%= p[1] %>,<%= p[0] %>;
    <%end%>
  </div>
  <div id="hidden-data-positions" class="hidden">
    <% for pos_on in @players[:on] %>
      <%= pos_on.id %>,<%= pos_on.position %>,<%= pos_on.player_id %>;
    <%end%>
    <% for pos_sub in @players[:substitutors] %>
      <%= pos_sub.id %>,<%= pos_sub.position %>,<%= pos_sub.player_id %>;
    <%end%>
  </div>
  
  <div class="table-wrapper standard">
    <table>
      <thead>
        <tr>
          <td colspan="2"><%= I18n.t("messages.tactics.show.base_settings") %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= I18n.t "messages.tactics.show.style" %></td>
          <td><%= @tactics.style %></td>
        </tr>
        <tr>
          <td><%= I18n.t "messages.tactics.show.shooting" %></td>
          <td><%= @tactics.shooting %></td>
        </tr>
        <tr>
          <td><%= I18n.t "messages.tactics.show.passing" %></td>
          <td><%= @tactics.passing %></td>
        </tr>
        <tr>
          <td><%= I18n.t "messages.tactics.show.aggressiveness" %></td>
          <td><%= @tactics.aggressiveness %></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="table-wrapper standard">
    <table id="players" class="players">
      <thead>
        <tr>
          <td onclick="Tactics.Show.sort()"><%= I18n.t("messages.tactics.show.table_players_1") %></td>
          <td><%= I18n.t("messages.tactics.show.table_players_2") %></td>
          <td><%= I18n.t("messages.tactics.show.table_players_3") %></td>
          <td><%= I18n.t("messages.tactics.show.table_players_4") %></td>
          <td><%= I18n.t("messages.tactics.show.table_players_5") %></td>
          <td><%= I18n.t("messages.tactics.show.table_players_6") %></td>
        </tr>
      </thead>
      <tbody>
        <% for player in @team.players %>
          <tr>
            <td>
              <%= select_tag "p_position_#{player.id}", options_for_select(@positions), :class => "player-position-select", :onchange => "Tactics.Show.playerPositionChanged(#{player.id}, this)" %>
            </td>
            <td><%= player.get_name %></td>
            <td><%= player.gk.round %></td>
            <td><%= player.deff.round %></td>
            <td><%= player.mid.round %></td>
            <td><%= player.att.round %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>