<div class="games">
  <div class="table-wrapper standard">
    <table class="info">
      <thead>
        <tr>
          <td colspan="2">
            <%= I18n.t("messages.games.show.table_info_title") %>
            <% if @game.started && !@game.finished %>
              <div class="pull-right auto-refresh">
                <%#*TODO zaskrtavani autorefresh podle toho co bylo nastavene naposled (cookies?)%>
                <input type="checkbox" id="autorefresh" name="autorefresh" onclick="Countries.show.autoRefreshChanged()" checked />
                <label for="autorefresh"><%= I18n.t "messages.games.show.auto_refresh" %></label>
              </div>
            <% end %>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr class="teams">
          <td><%= @game.team_home.name %></td>
          <td><%= @game.team_away.name %></td>
        </tr>
        <tr class="score">
          <td colspan="2">
            <% if @game.started %>
              <%= @game.score_home %>:<%= @game.score_away %>
            <% else %>
              -:-
            <% end %>
          </td>
        </tr>
        <% if @game.started && !@game.finished %>
          <tr class="minute">
            <td colspan="2">
              <%= @game.real_min %>. <%= I18n.t "messages.games.show.min" %>
            </td>
          </tr>
        <% end %>
        <% for a in 0..@events_length-1 %>
          <tr class="<%= a == @events_length-1 ? "events separator" : "events" %>">
            <td>
              <% if @events[:home].count > a %>
                <%= image_tag asset_path(File.join(FOLDER_GAME_EVENTS, "#{@events[:home][a].event_type}.png")) %>
                <%= @events[:home][a].minute %>.
                <%= link_to @events[:home][a].player.get_name, @events[:home][a].player %>
              <% end %>
            </td>
            <td>
              <% if @events[:away].count > a %>
                <%= image_tag asset_path(File.join(FOLDER_GAME_EVENTS, "#{@events[:away][a].event_type}.png")) %>
                <%= @events[:away][a].minute %>.
                <%= link_to @events[:away][a].player.get_name, @events[:away][a].player %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr class="after-events">
          <td>TODO Soutěž</td>
          <td><%= I18n.t LEAGUE_MESSAGES_KEY + @game.league.shortcut %></td>
        </tr>
        <tr>
          <td>TODO Kolo</td>
          <td><%= @game.round %></td>
        </tr>
        <tr>
          <td>TODO Začátek</td>
          <td><%= I18n.l @game.start.localtime %></td>
        </tr>
        <tr>
          <td>TODO Místo konání</td>
          <td><%= @game.stadium.name %></td>
        </tr>
        <% if @game.started %>
          <tr>
            <td>TODO Návštěva</td>
            <td><%= @game.attendance %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="table-wrapper standard">
    <table class="squads">
      <thead>
        <tr>
          <td colspan="4"><%= I18n.t("messages.games.show.table_squads_title") %></td>
        </tr>
        <tr>
          <td colspan="2"><%= @game.team_home.name %></td>
          <td colspan="2"><%= @game.team_away.name %></td>
        </tr>
      </thead>
      <tbody>
        <% for a in 0..@squad_length-1 %>
          <tr>
            <td><%= @squad[:home][a] != nil ? POSITION_BY_ID[@squad[:home][a].position] : "" %></td>
            <td><%= @squad[:home][a] != nil ? @squad[:home][a].player.get_name : "" %></td>
            <td><%= @squad[:away][a] != nil ? POSITION_BY_ID[@squad[:away][a].position] : "" %></td>
            <td><%= @squad[:away][a] != nil ? @squad[:away][a].player.get_name : "" %></td>
          </tr>
        <% end %>
          
        <td colspan="4" class="separator"></td>
        
        <% for a in 0..@substitutes_length-1 %>
          <tr>
            <td><%= @substitutes[:home][a] != nil ? POSITION_BY_ID[@substitutes[:home][a].position] : "" %></td>
            <td><%= @substitutes[:home][a] != nil ? @substitutes[:home][a].player.get_name : "" %></td>
            <td><%= @substitutes[:away][a] != nil ? POSITION_BY_ID[@substitutes[:away][a].position] : "" %></td>
            <td><%= @substitutes[:away][a] != nil ? @substitutes[:away][a].player.get_name : "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%#*TODO textovy popis akci%>
  
  <div class="table-wrapper standard">
    <table class="comments">
      <thead>
        <tr>
          <td colspan="4"><%= I18n.t("messages.games.show.table_comments_title") %></td>
        </tr>
      </thead>
      <tbody>
        <%= "TODO comments" %>
      </tbody>
    </table>
  </div>
</div>